@import "compass";


body{
  @include background(
  linear-gradient(top left, rgba(188,200,212,0.75),rgba(15,82,188,0.75)),
  radial-gradient(#6cc, #fff 100px)
  );
  margin:0;
}


header{
  width:100%;
  min-width:810px;
  height:150px;
  background-image: url("../images/music-668859_1280.jpg");
  background-size: cover;
  @include opacity(0.7);
  #logo{
    float:left;
    background-color: #aaa;
    width:250px;
    height:100px;
    margin-top: 10px;
  }
  #nav{
    ul{
      display: inline-block;
      float:right;
      width:500px;
      height:100px;
      margin-top:70px;
      li{
        display: inline-block;
        width:160px;
        font-size:20px;
        letter-spacing: 1px;
        text-align: center;
        list-style: none;
        line-height:45px;
        background-color:black;
        @include border-radius(10px);
        .navigation{
          text-decoration: none;
          text-weight:bold;
          color:white;
          padding:20 20 10 20;
        }
      }
    }
  }
}



#page-select{
  clear:both;
  float:right;
  width:500px;
  height:100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom:50px;
  margin-right:120px;
  #page-select-background{
    height:100px;
    background-color: rgba(213,137,129,0.5);
    @include border-radius(50px 0 50px)
  }
    .select{
      color:#f5f;
      font-size:20px;
      border:1px solid #ccc;
      text-decoration: none;
      line-height:100px;
      background-color:rgb(133,218,21);
      padding:10px;
      margin-left: 30px;
      @include border-radius(15px);
      @include box-shadow(0 0 5px black);
    }
    .select:hover{
      color:#f8f;
      @include box-shadow(none);
    }
}




#my-history{
  float:right;
  width:80%;
  min-width:500px;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
  h1{
    text-align: center;
    border-bottom:2px dotted gray;
  }
  #this-page-is{
    font-size:15px;
    text-align: center;
    width:400px;
    margin:0 auto;
  }
  .column{
    padding-top:20px;
    padding-left: 80px;
    padding-right:50px;
    margin-right:50px;
    h2{
      border-left: 4px double gray;
      padding:5px;
    }
    .music-name{
      padding-left: 5px;
      font-size:18px;
      font-weight: bold;
    }
    .musics{
      padding-left: 30px;
    }
    .music-explain{
      padding-left:40px;
      padding-bottom:5px;
      font-size:12px;
    }
  }
}


#sidebar{
  border: 3px groove #ccc;
  @include background(
  linear-gradient(top left, rgba(213,133,230,0.75),rgba(15,82,188,0.75))
  );
//  background-color: yellow;
  float:left;
  width:130px;
  position:fixed;
  top:222px;
  left:0;
  h2{
    text-align: center;
    color:white;
  }
  li{
    list-style: none;
    padding:2px;
    letter-spacing: 2px;
    a{
      color:#f2caaa;
      text-decoration: none;
      font-size: 18px;
    }
  }
}



footer{
  clear:both;
  width:100%;
  min-width:700px;
  height:50px;
  background-color: black;
  margin-top:30px;
  position:fixed;
  bottom:0;
    #mail{
      color:white;
      font-size:13px;
      letter-spacing: 1px;
      float:left;
      width:45%;
      height:25px;
      margin-left: 10px;
    }
    #footer-link{
      display:inline-block;
      float:right;
      margin-top: 0;
      margin-bottom: 0;
      .footer-list{
        float:right;
        width:150px;
        height:25px;
        list-style:none;
        font-size:15px;
        margin-right: 10px;
        }
        .footer-link{
          text-decoration: none;
          color:white;
          width:50px;
        }
    }
    #copyright{
      width:50%;
      height:20px;
      color:white;
      font-size:11px;
      float:right;
      margin-right:15%;
      letter-spacing:2px;
      clear:both;
    }
}
