!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title 音源のページ
    %link(rel="stylesheet" type="text/css" href="stylesheets/music_page.css")
  %body
    %header
      %img#logo(src="images/music_page_header_logo_03.png")
      #nav
        %ul
          %li<
            %a.navigation(href="top_page.html") ホーム
          %li<
            %a.navigation(href="music_introduction.html") 音源一覧
          %li<
            %a.navigation(href="profile.html") プロフィール


    #page-select
      #page-select-background
        %a.select(href="music_page.html") 販売音源を見る
        %a.select(href="music_introduction.html") 過去の音源を見る





    #contents-top
      #contents-top-size
        %h1#main-title 販売音源のページ
        %p#page-explain
          このページでは音楽の販売をしています。購入までの流れに関しては
          %a#how-to-buy(href="buy_contact.html")> こちら
          をご覧ください
        #page-link
          %a#inst_link.page-link(href="#bgm") BGM
          %a#song_link.page-link(href="#song") 歌もの



    #contents-bottom
      #bgm-section
        %h1#bgm BGM
        %p.section-top-explain BGMの使用権を売っています。
        %img#bgm-image(src="images/piano-691716_1280.jpg" width="100%" height="350px")

        .column
          %p.music-name 夏空の夢
          %audio.musics(src="musics/夏空の夢1.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 何年か前に作った曲です。夏をテーマにした曲ですが、夏特有の賑やかさではなく夏の終わりをイメージしていて、打ち上げ花火のような感じです。映画やドラマのクライマックス的な雰囲気を出しています。
          %hr

        .column
          %p.music-name APPLEのCMっぽい音楽
          %audio.musics(src="musics/apple-CM1.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain アップルのCM音楽のような、スタイリッシュで纏まりのある感じを目指して作りました。純粋に聴く音楽というよりは、映像ありきの音楽です。
          %hr

        .column
          %p.music-name latin rhythmical
          %audio.musics(src="musics/latin_rhythmical.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain あまり作らないのですがラテンっぽい音楽です。低音の期間楽器であるチューバが、跳ねるようなベースをしているのが特徴的な曲です。
          %hr


        .column
          %p.music-name Tomorrow
          %audio.musics(src="musics/oche_electro.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 一応オーケストラ的な要素のある曲です。最初はエレクトロニカのつもりで作り始めて方向を変えた曲なので、スタンダードな器楽曲ではありませんが、フレーズ自体は意外と壮大なのでそれっぽいです。
          %hr

        .column
          %p.music-name Long dream
          %audio.musics(src="musics/long_dream.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 別れの季節としての春をイメージした曲です。儚く繊細な感じを出そうと試みました。ピアノと鉄琴が主体となっている小編成の器楽曲です。
          %hr

        .column
          %p.music-name 行進
          %audio.musics(src="musics/short_music.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 素朴な曲です。打楽器から始まり、メロディはフルート、クラリネットなどの木管楽器です。雰囲気としてはあっけらかんとしていて、ゆっくりと歩いている感じです。
          %hr

        .column
          %p.music-name 8bit!
          %audio.musics(src="musics/8bit_ゲーム風.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 2Dゲームっぽい感じを出しました。ノイズを加工してドラムを作る作業が一番面倒くさくて一番時間がかかった割には非常に安っぽいので、ドラムはドラム音源を使って打ち込むのがベストです。
          %hr

        .column
          %p.music-name rainy electro
          %audio.musics(src="musics/electro.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 雨の日をイメージしたエレクトロ系の楽曲です。シンセ、エレピ、ドラムが主体となっています。テンションを付加した複雑な和音をけっこう使っていますが、テンポよく進むので割とシンプルな雰囲気です。
          %hr

        .column
          %p.music-name Adventure of the sea
          %audio.musics(src="musics/Adventure_of_the_sea2.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain ループを基調としたエレクトロです。夜中の深海を探索するイメージです。なのでリズムトラックにソナー音などを使っていたり、水の流れるような環境音などを入れています。
          %hr


        .column
          %p.music-name グッドバイ
          %audio.musics(src="musics/グッドバイ.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 切ない雰囲気の曲です。ピアノは基本的にアルペジオで、その上でメロディが鳴っています。
          %hr


        .column
          %p.music-name ブラスポップ
          %audio.musics(src="musics/brass_pop.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain 金管楽器とサックスを主体にしています。吹奏楽やビッグバンド的な雰囲気です。
          %hr

        .column
          %p.music-name アンビエンスチック
          %audio.musics(src="musics/アンビエンス.mp3" controls)
          %p.music-value 値段1000円
          %p.music-explain これは歌ものと言えないかもしれませんが、とりあえずこちらに。この曲はアンビエンス的な要素を加えながら作りました。ちなみに作るときに意識したのはスーパードンキーコングのBGMです。
          %hr

        .column
          %p.music-name 木管楽器、ショートミュージック
          %audio.musics(src="musics/woodwind.mp3" controls)
          %p.music-value 値段500円
          %p.music-explain 木管楽器、ホルン、グロッケンを使っています。短めなので、ちょっとした場面転換や、物語の終わりなどにも使えます。
          %hr


        .column
          %p.music-name バリアフリー
          %audio.musics(src="musics/バリアフリー.mp3" controls)
          %p.music-value 値段500円
          %p.music-explain ピアノを主体とした優しい雰囲気の曲です。学生時代に別の学校とコラボしてCMを作ることになり、CM音楽を意識して作りましたが企画倒になり、この曲だけ残りました。
          %hr

        .column
          %p.music-name trick or treat
          %audio.musics(src="musics/trick_or_treat.mp3" controls)
          %p.music-value 値段500円
          %p.music-explain けっこう昔の曲です。ハロウィン用にノリの良い何かを作りたくて作った記憶があります。荒っぽさもありますが、何故かビッグバンド的で、何故かそこそこ雰囲気が出ているので、これはこれで面白いと思います。
          %hr

        .column
          %p.music-name wonderland
          %audio.musics(src="musics/wonderland.mp3" controls)
          %p.music-value 値段500円
          %p.music-explain リディアンスケールという浮遊感のある音階を使い、不思議な世界に落ちていく感じを表現しています。
          %hr



      #song-section
        %h1#song SONG
        %p.section-top-explain 歌ものを売っています。お買い上げいただいた場合、メロディありの音源の他に、メロディを抜いたオケをお渡しします。その後、販売ページから曲を消します。作詞はいたしません。
        %img#song-image(src="images/microphone-380017_1280.jpg" width="80%" height="300px")

        .column
          %p.music-name 歌もの1（前衛的）
          %audio.musics(src="musics/marinSnow.mp3" controls)
          %p.music-value 値段20000円
          %p.music-explain 少し前衛的な要素がありつつ明るい曲です。
          %hr


        .column
          %p.music-name 歌もの2（明るいポップス）
          %audio.musics(src="musics/the_pop_song.mp3" controls)
          %p.music-value 値段20000円
          %p.music-explain タイトル通り明るい雰囲気のポップスです。コード進行は意外と複雑だったりします。信じてもらえない確率が高いですが曲の構成はピロウズのパトリシアという曲を参考にしています。最後のサビの前のDメロにイントロのコード進行を使っているあたりが特にそんな感じです。
          %hr

        .column
          %p.music-name 歌もの3（バラード）
          %audio.musics(src="musics/ballad_bpm96.mp3" controls)
          %p.music-value 値段20000円
          %p.music-explain ピアノ、ベース、ドラム、ストリングスが主体になっています。展開にメリハリをつけるためにBメロは若干リズミカルです。
          %hr

        .column
          %p.music-name 歌もの4（ミドルテンポ、短め）
          %audio.musics(src="musics/song_short.mp3" controls)
          %p.music-value 値段10000円
          %p.music-explain ミドルテンポで短めの曲です。使っているフレーズなどがキャッチーで、アレンジも比較的キャッチーです。普段はボーカル用のメロディにシンセを使っていますが、気分を変えるためにフルートを使っているだけで、深い意味はありません。
          %hr

        .column
          %p.music-name 歌もの5（ポップス）
          %audio.musics(src="musics/歌もの3.mp3" controls)
          %p.music-value 値段20000円
          %p.music-explain 少し前に作った曲です。サビの尺を15秒くらいに抑えることによって、サビ以外の部分を大切にするというコンセプトですが、フレーズが意外と汎用性が高いような気がしたので、アウトロにも流用しました。
          %hr

    #how-to-buy-background
      %a#how-to-buy-bottom(href="buy_contact.html") 購入までの流れについて


    %footer
      %text#mail mail: akihiro.kikuchi@engraphia.com
      %ul#footer-link
        %li.footer-list<
          %a.footer-link(href="buy_contact.html") ご購入までの流れ
        %li.footer-list<
          %a.footer-link(href="site_map.html") このサイトについて
      %text#copyright  copyright©2015 akihiro.kikuchi
