!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title 音源のページ
    %link(rel="stylesheet" type="text/css" href="stylesheets/music_introduction.css")
  %body
    %header
      %img#logo(src="")
      #nav
        %ul
          %li<
            %a.navigation(href="") ホーム
          %li<
            %a.navigation(href="") 音源一覧
          %li<
            %a.navigation(href="") プロフィール

    #page-select
      #page-select-background
        %a.select(href="") 販売音源を見る
        %a.select(href="") 過去の音源を見る

    #my-history
      %h1 過去の音源
      %p#this-page-is 過去の音源についての説明 過去の音源についての説明 過去の音源についての説明 過去の音源についての説明
      #section2014.column
        %h2 2014年
        %p.music-name waltz strings
        %audio.musics(src="musics/waltz_strings.mp3" controls)
        %p.music-explain ３拍子の曲を作ろうとしました。ほぼストリングスのみです。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name break break
        %audio.musics(src="musics/breakbeats.mp3" controls)
        %p.music-explain ブレイクビーツを使いました。エレクトロ系の楽曲です。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name SOMEDAY
        %audio.musics(src="" controls)
        %p.music-explain 歌もの。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %hr
      #section2013.column
        %h2 2013年
        %p.music-name 未来人のテーマ
        %audio.musics(src="musics/s6.mp3" controls)
        %p.music-explain 謎の未来人が訪れたときのテーマ。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name オープニング some and any
        %audio.musics(src="musics/s1NEW.wav" controls)
        %p.music-explain 紙芝居のオープニング用に作ったエレクトロ系の曲です。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name 不滅のメッセンジャー
        %audio.musics(src="musics/TD0122Voc-1.5dB.wav" controls)
        %p.music-explain 若干、前衛的な要素のある歌ものです。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %hr
      #section2012.column
        %h2 2012年
        %p.music-name 邦楽ファンク
        %audio.musics(src="musics/japan_funk.mp3" controls)
        %p.music-explain 和をイメージしたファンクで、ヒップホップが踊れる感じです。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name Fighting(枠組み)
        %audio.musics(src="musics/セット/Fighting_demo.mp3" controls)
        %p.music-explain 歌ものを作る際の、最初の段階です。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name 曲名 Fighting
        %audio.musics(src="musics/セット/Fighting.mp3" controls)
        %p.music-explain 大学に入学してからはじめて歌ものを作りました。サイドチェーンでGateをかけ、音を抜いたりしています。
        %hr
      #section2011.column
        %h2 2011年
        %p.music-name 洞窟
        %audio.musics(src="musics/cavern.mp3" controls)
        %p.music-explain 洞窟。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name 平和の鼓動
        %audio.musics(src="musics/BeatOfP.mp3" controls)
        %p.music-explain オーディオを並べ切り刻んだりして作りました。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name Adventure of the toy box
        %audio.musics(src="musics/AdventureOfTheToyBoxNEW.wav" controls)
        %p.music-explain エレクトロハウス。数小節のループを基調とした曲です。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %hr
      #section2010.column
        %h2 2010年
        %p.music-name first logic
        %audio.musics(src="musics/logic_pro_first.mp3" controls)
        %p.music-explain はじめてlogic proを使って作った曲です。
        %p.music-name 異種
        %audio.musics(src="musics/prog_electro.mp3" controls)
        %p.music-explain 一曲の中でやりたいことを全部やってしまったような曲です。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name 碧い海と導なき西瓜の旅
        %audio.musics(src="musics/oche.mp3" controls)
        %p.music-explain レッスンで試しにオケを書いてみようということになり、挑戦した曲です。これを期に生楽器に対する恐怖心が薄れたような気がします。
        %hr
      #section2009.column
        %h2 2009年
        %p.music-name 雨
        %audio.musics(src="musics/rain.mp3" controls)
        %p.music-explain 切ない雰囲気で雨をイメージした曲です。この頃にはSD-90という音源を使っていました。説明説明説明説明説明説明説明説明
        %p.music-name 不協和
        %audio.musics(src="musics/dis_harmony.mp3" controls)
        %p.music-explain 不協和音を使った実験的な曲です。初期はほとんど感覚に頼って作っています。説明説明説明説明説明説明説明説明
        %p.music-name fantasy
        %audio.musics(src="musics/fantasy.mp3" controls)
        %p.music-explain 音割れしています。神秘的な感じを意識した覚えがあります。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %hr
      #section2008.column
        %h2 2008年
        %p.music-name 淡々としたBGM
        %audio.musics(src="musics/bgm1.mp3" controls)
        %p.music-explain 軽い感じで音数も少ない曲です。作曲を始めて最初の時期には『domino』というフリーソフトを使って作曲していました。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name リズムの限界
        %audio.musics(src="musics/limit_drum.mp3" controls)
        %p.music-explain ※音量注意 打ち込みでどれくらいメチャクチャできるのか挑戦した曲です。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
        %p.music-name オルゴール風
        %audio.musics(src="musics/music_box.mp3" controls)
        %p.music-explain 落ち着いた感じの曲です。音域や音の動きはまだ拙いです。説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明

    #sidebar
      #sub-contents
        %h2 年代選択
        %%ul
          %li<
            %a#link2014(href="#section2014") 2014
          %li<
            %a#link2013(href="#section2013") 2013
          %li<
            %a#link2012(href="#section2012") 2012
          %li<
            %a#link2011(href="#section2011") 2011
          %li<
            %a#link2010(href="#section2010") 2010
          %li<
            %a#link2009(href="#section2009") 2009
          %li<
            %a#link2008(href="#section2008") 2008






    %footer
      %text#mail mail: akihiro.kikuchi@engraphia.com
      %ul#footer-link
        %li.footer-list<
          %a.footer-link(href="") ご購入までの流れ
        %li.footer-list<
          %a.footer-link(href="") このサイトについて
      %text#copyright  copyright©2015 akihiro.kikuchi
