!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title プロフィール
    %link(rel="stylesheet" type="text/css" href="stylesheets/profile.css")

  %body
    %header
      %img#logo(src="images/music_page_header_logo_03.png")
      #nav
        %ul
          %li<
            %a.navigation(href="top_page.html") ホーム
          %li<
            %a.navigation(href="music_introduction.html") 音源一覧
          %li<
            %a.navigation(href="profile.html") プロフィール



    #contents
      %h1#main-title プロフィール
      #histroy.column
        %h1.sub-title 音楽史
        %p 名前 : kikuchi akihiro
        %p 1991年8月16日生まれ。幼少期は1年間エレクトーンを習ったくらいであまり音楽に触れてこず、耳にする音楽といえばアニメソングやスーパーファミコン時代のゲーム音楽くらいのものだった。小学校の高学年の頃にBUMP OF CHICKENを聴いてから少しずつ音楽を好きになる。
        %p 中学に入学後、お年玉でギターを買い、Fコードで挫折。後に克服するが、あまり本腰を入れてギターを弾くことはなかった。音楽の成績は5段階評価で2をとることもあり、これといって成績良好ともいえず、特にアルトリコーダーが死ぬほど苦手だった。
        %p 中学3年の頃に、何を思ったか作詞をはじめ、何を思ったか打ち込みで作曲も始める。
        %p 高校に入学し、テニス部に所属しながら片手間に曲を作っていたが、部活動停止になったのを機に「音楽をやろう」という思いが芽生える。
        %p 高校１年の終わり頃にクラシックギターを習い始める。高校2年になってから音大進学を視野に入れ、独学で楽典を勉強する。聴音は近所のピアノ教室に通ってなんとかする。卒業する頃には音楽の成績が5になっていて、びびった。
        %p 2010年から2014年まで、洗足学園音楽大学に在籍し作編曲を学ぶ。
        %p 今
      #hobby.column
        %h1.sub-title 趣味
        %ul#hoby-lists
          %li.hobby-list 読書（SF、ファンタジー、純文学、児童文学、エンタメなど小説を好み、ライトノベルや漫画などサブカルチャー的なものも読むが、ミステリーはあまり読まない）
          %li.hobby-list ジョギング、テニス、軽くできるスポーツ
          %li.hobby-list 音楽鑑賞（オルタナティブロック、ポップス、ジャズ、ニューエイジ、エレクトロニカ、アニメソング、ゲーム音楽、映画やドラマのサントラなど。ポピュラー音楽が中心。クラシックは少々）
      #dtm.column
        %h1.sub-title 機材など
        %ul#dtm-lists
          %li.dtm-list iMac 2011 21.5-inch
          %li.dtm-list Logic pro9（DAW）
          %li.dtm-list Apogee duet(audio I/F)
          %li.dtm-list EDIROL PCR-500
          %li.dtm-list ヤマハのクラシックギター
          %li.dtm-list SHURE SM58(マイク)
          %li.dtm-list STUDIO V3 TUBE MP3  など
          %li.dtm-list 篠笛（ほぼ吹けない）

    #link-section
      %a#music-page-link(href="music_introduction.html") 音楽のページへ


    %footer
      %text#mail mail: akihiro.kikuchi@engraphia.com
      %ul#footer-link
        %li.footer-list<
          %a.footer-link(href="buy_contact.html") ご購入までの流れ
        %li.footer-list<
          %a.footer-link(href="site_map.html") このサイトについて
      %text#copyright  copyright©2015 akihiro.kikuchi
