!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title プロフィール
    %link(rel="stylesheet" type="text/css" href="stylesheets/profile.css")

  %body
    %header
      %img#logo(src="images/music_page_header_logo_03.png")
      #nav
        %ul
          %li<
            %a.navigation(href="") ホーム
          %li<
            %a.navigation(href="") 音源一覧
          %li<
            %a.navigation(href="") プロフィール



    #contents
      %h1#main-title プロフィール
      #histroy.column
        %h1.sub-title 略歴
        %p 1991年8月16日生まれ。中学の頃に作詞をはじめ、打ち込みで作曲を始める。2010年から2014年まで洗足学園音楽大学に在籍し作編曲を学ぶ。
      #hobby.column
        %h1.sub-title 趣味
        %ul#hoby-lists
          %li.hobby-list 読書（SF、ファンタジー、純文学、児童文学、エンタメなど小説がほとんどで、ライトノベルや漫画などサブカルチャー的なものも読む。ミステリーはあまり読まない）
          %li.hobby-list ジョギング、テニス、軽くできるスポーツ
          %li.hobby-list 音楽鑑賞（オルタナティブロック、ポップス、ジャズ、ニューエイジ、エレクトロニカ、アニメソング、ゲーム音楽、映画やドラマのサントラなど。クラシックは若干）
          %li.hobby-list カラオケ（レパートリーが数年前からほとんど変わっていない）
      #dtm.column
        %h1.sub-title 機材など
        %ul#dtm-lists
          %li.dtm-list iMac 2011 21.5-inch
          %li.dtm-list Logic pro9（DAW）
          %li.dtm-list Apogee duet(audio I/F)
          %li.dtm-list EDIROL PCR-500
          %li.dtm-list ヤマハのクラシックギター
          %li.dtm-list SHURE SM58(マイク)
          %li.dtm-list STUDIO V3 TUBE MP3  など


    #link-section
      %a#music-page-link(href="") 音楽のページへ


    %footer
      %text#mail mail: akihiro.kikuchi@engraphia.com
      %ul#footer-link
        %li.footer-list<
          %a.footer-link(href="") ご購入までの流れ
        %li.footer-list<
          %a.footer-link(href="") このサイトについて
      %text#copyright  copyright©2015 akihiro.kikuchi
