!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title このサイトについて
    %link(rel="stylesheet" type="text/css" href="stylesheets/site_map.css")
  %body

    %header
      %img#logo(src="")
      #nav
        %ul
          %li<
            %a.navigation(href="") ホーム
          %li<
            %a.navigation(href="") 音源一覧
          %li<
            %a.navigation(href="") プロフィール



    %h1#title このサイトについて
    %p#top-text このサイトは音源の配布サイトです。音源は有料のものと無料のものがあり、過去の音源のページにある曲は一部を除き無料で使用することができます。

    .column
      %h2.sub-title
        %a> 音源のページ
      %p.sub-text 作った音楽が置いてあります。過去の音源のページと販売音源のページに分かれています。

    .column
      %h2.sub-title< プロフィール
      %p.sub-text 文字通りプロフィールのページです。趣味や制作環境などが書いてあります。

    .column#last
      %h2.sub-title ご購入までの流れについて
      %p.sub-text 購入までの大まかな流れを説明しています。お問い合わせやコンタクトもこちらから可能です。フッターにリンクがあります。


    %footer
      %text#mail mail: akihiro.kikuchi@engraphia.com
      %ul#footer-link
        %li.footer-list<
          %a.footer-link(href="") ご購入までの流れ
        %li.footer-list<
          %a.footer-link(href="") このサイトについて
      %text#copyright  copyright©2015 akihiro.kikuchi
