!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title my music
    %link(rel="stylesheet" type="text/css" href="stylesheets/top.css")

  %body
    %header
      %img#logo(src="images/music_page_header_logo_03.png")
      #nav
        %ul
          %li<
            %a.navigation(href="top_page.html") ホーム
          %li<
            %a.navigation(href="music_introduction.html") 音源一覧
          %li<
            %a.navigation(href="profile.html") プロフィール

    #contents-top
      %img#main-image(src="images/cello-110981_1280.jpg" width="100%" height="400px")
        %h1#catch-copy キャッチコピー

    #contents-bottom
      %h1 ♪ sample music &amp; movie ♪
      .column
        %p.music-name SOMEDAY
        %audio.music(src="musics/Someday.wav" controls)
        %p.explain 歌もの。MISIAのEverythingをモチーフにしたバラードです。提供した楽曲のため、外部での使用はできません。
      %br
      .column
        %p.music-name 遊星よりあいをこめて
        %audio.music(src="musics/遊星よりあいをこめて.mp3" controls)
        %p.explain プラネタリウム用に作った曲です。秋から冬にかけての星空をイメージしました。電子音が主体というわけではありませんが、ジャンルとしてはエレクトロニカです。ちなみにタイトルの元ネタはウルトラセブンですが、まったく関係はありません。
      %br
      .column
        %p.music-name サムとエニー
        %video.music(width="450px" height="330px" src="videos/some_and_any.mov" controls)
        %p.explain 大学４年の時に作ったピクチャー・ストーリーです。音楽を何人かで分担しています。僕は最初の曲と、未来人が来たときの曲を担当しました。ついでにシナリオを書いて監督もやりました。『サムとエニー』というタイトルは英単語の『Some』と『Any』から取っています。
      %p<
        %a#music-page(href="music_introduction.html")音源のページへ

    %footer
      %text#mail mail: akihiro.kikuchi@engraphia.com
      %ul#footer-link
        %li.footer-list<
          %a.footer-link(href="buy_contact.html") ご購入までの流れ
        %li.footer-list<
          %a.footer-link(href="site_map.html") このサイトについて
      %text#copyright  copyright©2015 akihiro.kikuchi
