!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title my music
    %link(rel="stylesheet" type="text/css" href="stylesheets/top.css")

  %body
    %header
      %img#logo(src="")
      #nav
        %ul
          %li<
            %a.navigation(href="") ホーム
          %li<
            %a.navigation(href="") 音源一覧
          %li<
            %a.navigation(href="") プロフィール

    #contents-top
      %img#main-image(src="images/cello-110981_1280.jpg" width="100%" height="400px")
        %h1#catch-copy キャッチコピー

    #contents-bottom
      %h1 sample music&movei
      %p.music-name 曲名
      %audio.music(src="musics/ballad_demo.mp3" controls)
      %p.explain 軽く曲の説明
      %br
      %p.music-name 曲名
      %audio.music(src="" controls)
      %p.explain 軽く曲の説明
      %br
      %p.music-name 動画名
      %video.music(width="450px" height="330px" src="videos/some_and_any.mov" controls)
      %p.explain 軽く動画の説明
      %p<
        %a#music-page(href="")音源のページへ

    %footer
      %text#mail mail: akihiro.kikuchi@engraphia.com
      %ul#footer-link
        %li.footer-list<
          %a.footer-link(href="") ご購入までの流れ
        %li.footer-list<
          %a.footer-link(href="") このサイトについて
      %text#copyright  copyright©2015 akihiro.kikuchi
